a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a:hover, h1:hover {
    color: grey;
}

h1 {
    padding-left: 70px;
    font-size: 40px;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.links-container {
    padding-top: 80px;
    padding-right: 50px;
    text-align: right;
}


.links-container a {
    padding-left: 50px;
    font-size: 18px;
    margin-left: 10px;
}

.main-body{
    margin-left: 60px;
}
.first-letter{
    color: red;
}