<div class="parent-container">
    <div class="home-content">
      <h1>
        Hey!! I am <span class="name">Sarbas</span>
      </h1>
      <h4>
        I am a <span class="occupation">Software Engineer.</span>
      </h4>
      <p>
        I have more than {{time}} of experience in creating software applications using Node, Angular and C#.
      </p>
      <button mat-button mat-raised-button class="contact-button" routerLink="/contact">
        Contact Me
      </button>
      
    </div>
  </div>
  