.occupation {
    color: grey;
}

.home-content {
    position: absolute;
    top: 35%;
    left: 15%;
}

.name {
    color: red;
}

h1 {
    font-size: 52px;
    margin-bottom: 0;
}

h4 {
    font-size: 22px;
    margin: 15px 0;
}

.contact-button {
    border-radius: 20px;
    padding: 10px 24px;
    background-color:blanchedalmond;
    color:black;
    margin-top: 10px;
}
.contact-button:hover{
    transform: scale(1.15)
}